.title,
.titleBig {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.titleBig {
    font-size: 34px;
}

.radioBtns {
    margin-bottom: 30px;
}

.radioBtnWrap {
    margin-right: 35px;
    /* margin-bottom: 30px; */
}

.radioBtnWrap input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radioBtnWrap input[type="radio"] + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.radioBtnWrap input[type="radio"] + label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 9px;
}

.radioBtnWrap input[type="radio"]:checked + label::before {
    border-color: var(--main-primary-color);
    background-color: #fff;
    background-image: url("/radioBg.svg");
}

.points {
    display: flex;
    align-items: stretch;
    margin-top: 30px;
    margin-bottom: 30px;
}

.point,
.activePoint {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 15px;
    margin-right: 15px;
    min-width: 115px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
    transition: 0.1s all;
}

.activePoint {
    background: var(--main-primary-color);
    border: none;
    color: #fff;
    font-weight: 600;
}

.point span,
.activePoint span {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
}

.activePoint span {
    color: #fff;
}

.point:hover {
    border: 1px solid var(--main-primary-color);
}

.filterBlock {
    position: absolute;
    top: 0;
    left: 35px;
    /* margin-left: 35px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    max-width: 375px;
    width: 100%;
}

.filterBlock a {
    color: var(--main-primary-color);
}

.filterBlock a:hover {
    text-decoration: underline;
}

.filterBlock input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filterBlock input[type="checkbox"] + label {
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
    cursor: pointer;
    margin-bottom: 15px;
    width: 375px;
    cursor: default;
}
.filterBlock input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 9px;
    cursor: pointer;
}

.filterBlock input[type="checkbox"]:checked+label::before {
    border-color: var(--main-primary-color);
    background-color: var(--main-primary-color);
    background-image: url("/inputArrow.svg");
}

.applyblock {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
}

.applyblock p {
    margin-bottom: 15px;
}

.applyblock span {
    color: var(--main-black-color);
}

.applyblock span > span {
    color: var(--main-primary-color);
}

.apply .radioBtnWrap {
    margin-bottom: 15px;
}

.apply .radioBtnWrap span {
    color: #BDBDBD;
    margin-left: 4px;
}

.paymentCards {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.paymentCards > div {
    margin-right: 20px;
}

.finalBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finalBlock h1 {
    font-family: 'Bebas_Neue';
    font-weight: 700;
    font-size: 72px;
    line-height: 90%;
    margin-top: 35px;
    margin-bottom: 10px;
}

.finallDescr {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
}