.modal {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.inner {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    width: 100%;
    padding: 40px;
}