.tabsWrap {
    margin-top: 75px;
    margin-bottom: 55px;
}

.tabBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #E6E6E6;
    margin-bottom: 30px;
}

.tabBtn,
.activeTabBtn {
    margin: 0 15px;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.activeTabBtn {
    border-bottom: 2px solid var(--main-primary-color);
}

.tabBtn:hover {
    color: var(--main-primary-color);
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.characteristics {
    margin-right: 20px;
}

.characteristicsSecond {
    margin-left: 20px;
}

.characteristics,
.characteristicsSecond {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
}

.characteristics:before,
.characteristicsSecond:before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #E0E0E0;
}

.characteristics span,
.characteristicsSecond span {
    max-width: 350px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #BDBDBD;
}

.characteristics span,
.characteristics div,
.characteristicsSecond span,
.characteristicsSecond div {
    z-index: 2;
    background: var(--main-body-color);
    padding-right: 5px;
}

.characteristics div,
.characteristicsSecond div {
    padding-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #131313;
}